.stored-products {
    margin-top: 95px;
    margin-bottom: 27px;
}

.stored-products .sub-title {
    margin-bottom: 0;
}

.stored-products .title {
    font-style: italic;
    font-weight: bold;
}

.stored-products .horizontal-line hr {
    width: 2%;
}

.horizontal-line .hr-text {
    margin-top: 4px;
    color: gray;
}

.products-container {
    display: grid;
    grid-template-columns: 268px 268px 268px;
    grid-gap: 60px;
    justify-content: center;
    margin-top: 30px;
}

.card-container {
    position: relative;
    align-items: center;
    width: 100%;
    height: 330px;
    text-align: justify;
}

.card-container img {
    width: 100%;
    height: 100%;
}

.card-container p {
    margin-bottom: 0;
}

.product-details {
    color: #330000;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
}

.card-container:hover .product-details {
    visibility: visible;
    opacity: 1;
    transform: rotate(360deg);
    transition-duration: 20ms;
    transition-timing-function: ease;
}
.card-container:hover img{
    opacity: .6;
}
.product-details button{
    background:  #ec3642;
    color: white;
    font-weight: bold;
    font-style: italic;
    border: none;
    border-radius: 5px;
    padding: 10px;
}