.social-login{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ec3642;
    border-radius: 50px;
    width: 40%;
    margin: 0 auto;
    padding: 5px;
    cursor: pointer;
}
.social-login:hover{
    background: #1d1d1d;
    color: white;
    border: 1px solid #1d1d1d;
}
.social-login .signin-text{
   margin-left: 10px;
}
@media only screen and (max-width:668px){
    .social-login{
        width: 100%;
        margin: 0 auto;
    }
}
@media only screen and (min-width:669px) and (max-width:1024px){
    .social-login{
        width: 100%;
        margin: 0 auto;
    }
}