.navbar {
    background: #ec3642;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
.navbar .store-name{
    font-size: 30px;
    font-weight: bold;
}

.navbar-dark .navbar-collapse .nav-link {
    color: #fff;
    font-weight: 500;
    margin-top: 8px;
    font-size: 18px;
}