.new-products {
    margin-top: 100px;
}

.new-products h2 {
    font-weight: bolder;
    font-style: italic;
    margin-bottom: 10px;
}

.new-products p {
    text-align: center;
    font-weight: bold;
    margin-bottom: 36px;
    color: #1d1d1d;
}

.new-products-container {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-gap: 20px;
    justify-content: center;
}

.product-container {
    display: flex;
    align-items: center;
}

.product-container img {
    width: 157px;
}

.product-container .product-info {
    margin-left: 25px;
    color: #494949;
}

@media only screen and (max-width:668px) {
    .new-products-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .product-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }

    .new-products-container .product-container img {
        width: 100%;
        margin-bottom: 15px;
    }

    .product-container .product-info {
        margin-left: 0px;
        text-align: center;
    }
}

@media only screen and (min-width:669px) and (max-width:1024px){
    .new-products-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }
    .product-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }
    .product-container img {
        width: 100%;
    }
}