.manage-stock {
    margin-bottom: 75px;
    text-align: center;
}

.item-container {
    display: flex;
    justify-content: center;
    text-align: left;
}

.image-container {
    margin-top: 75px;
    margin-right: 30px;
    height: 632px;
}

.image-container img {
    width: 100%;
    height: 100%;
}

.item-details {
    margin-top: 68px;
    width: 40%;
}

.item-details h4 {
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 30px;
}

.item-details p {
    font-weight: 500;
}

.item-details h5 {
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.item-details h6 {
    letter-spacing: 1px;
    font-weight: 400;
}

.item-details .options h5 {
    font-weight: 500;
    letter-spacing: normal;
    margin-top: 32px;
}

.item-details .options h6 {
    font-weight: 600;
    letter-spacing: normal;
}

.options .color-container {
    display: flex;
}

.color-container .color-area {
    border: 1px solid gray;
    padding: 2px;
    margin-right: 8px;
}

.color-container .color-area:hover {
    border: 1px solid #ec3642;
    cursor: pointer;
}

.color-area .black,
.silver,
.red,
.yellow {
    height: 15px;
    padding: 15px;
}

.color-area .black {
    background-color: black;
}

.color-area .silver {
    background-color: silver;
}

.color-area .red {
    background-color: red;
}

.color-area .yellow {
    background-color: yellow;
}

.stock-manager {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 34px;
}

.stock-manager form .stock-btn {
    margin-right: 10px;
    background: #ec3642;
    padding: 5px 10px;
    border-radius: 50px;
    color: white;
    border: none;
}

.stock-manager form .stock-btn:hover {
    background: #1d1d1d;
}

.stock-manager form .number-field {
    width: 60px;
}

.stock-manager .delivered-btn {
    border: none;
    background: #ec3642;
    color: white;
    padding: 8px 30px;
    font-size: 18px;
    width: 50%;
    border-radius: 3px;
}

.stock-manager .delivered-btn:hover {
    background: #1d1d1d;
}

.item-details .compare {
    margin: 25px 0px;
}

.item-details .compare p {
    margin-bottom: 0;
    font-weight: 400;
}

@media only screen and (max-width:668px) {
    .item-container {
        display: block;
        text-align: center;
    }

    .image-container {
        margin-top: 50px;
        margin-right: 0px;
        height: 432px;
        width: 90%;
        margin: 50px auto 0px;
    }

    .item-details {
        width: 90%;
        margin: 48px auto;
    }

    .options .color-container {
        display: flex;
        justify-content: center;
    }

    .stock-manager {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 34px;
    }

    .stock-manager .delivered-btn {
        margin-bottom: 34px;
        padding: 4px 12px;
        font-size: 16px;
        width: 40%;
    }
}

@media only screen and (min-width:669px) and (max-width:992px){
    .item-container {
        display: block;
        text-align: center;
    }

    .image-container {
        margin-top: 50px;
        margin-right: 0px;
        height: 432px;
        width: 75%;
        margin: 50px auto 0px;
    }

    .item-details {
        width: 75%;
        margin: 48px auto;
    }

    .options .color-container {
        display: flex;
        justify-content: center;
    }

    .stock-manager {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 34px;
    }

    .stock-manager .delivered-btn {
        margin-bottom: 34px;
        padding: 4px 12px;
        font-size: 16px;
        width: 29%;
    }
}